<hy-sidenav>
  <ng-template hyTemplate="sidebar">
    <div class="hy-content">
      <hy-sidebar-content></hy-sidebar-content>
    </div>
  </ng-template>

  <ng-template hyTemplate="toolbar">
    <div class="spacer"></div>
    <hy-user-profile-button></hy-user-profile-button>
  </ng-template>

  <ng-template hyTemplate="logo">
    <div class="hy-logo hy-log-gap">Lets Connect</div>
  </ng-template>

  <ng-template hyTemplate="content">
    <div>
      <hy-feed-body></hy-feed-body>
    </div>
  </ng-template>
</hy-sidenav>
