.example-card {
  max-width: 30em;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.list-comments {
  .comments {
    display: flex;
    justify-content: space-between;
  }
}
